In [1]:
import numpy as np;
import sqlite3

In [2]:
create_table='''CREATE TABLE Ages (
  name VARCHAR(128),
  age INTEGER
)'''

In [3]:
connection = sqlite3.connect('ages.db') #  connects to a SQLite database file named "ages.db" (or creates it if it doesn't exist)
cursor = connection.cursor()
cursor.execute(create_table)

In [5]:
# Delete any rows that were previously inserted
cursor.execute('DELETE FROM ages')

In [6]:
# Insert the specified rows
cursor.execute("INSERT INTO ages (name, age) VALUES ('Mara', 28)")
cursor.execute("INSERT INTO ages (name, age) VALUES ('Otto', 33)")
cursor.execute("INSERT INTO ages (name, age) VALUES ('Fyn', 31)")
cursor.execute("INSERT INTO ages (name, age) VALUES ('Neshawn', 17)")

In [7]:
# Commit the changes to the database
connection.commit()

In [8]:
# Run the SQL command to retrieve the hexadecimal representation
cursor.execute("SELECT hex(name || age) AS X FROM Ages ORDER BY X")

In [9]:
# Fetch the first row from the result set
first_row = cursor.fetchone()

In [10]:
# Close the connection
connection.close()

In [11]:
# Print the result
if first_row:
    print(f"The first row in the resulting record set: {first_row[0]}")
else:
    print("No rows found.")

The first row in the resulting record set: 46796E3331